/* tag generali */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}
/* Tag nav */

#logo {
    height: 50px;
}

.font_navbar {
    font-family: Helvetica;
}

/* tag header */

header {
    margin-top: 126px;
}

#jumbo_sopra {
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
    min-height: 620px;
    color: white;
}

.padd_title_jumb {
    padding-top: 300px;
}

.phrase {
    font-size: 40px;
    padding: 10px;
}

#jumbo_sopra button, #game button {
    background-color: #cd3d0f;
    border: 1px solid #cd3d0f;
}


#jumbo_sotto {
    min-height: 100px;
}

.returnal {
    background-image: url(../img/returnal-listing-thumb-01-ps5.jpg);
}

.ratchet {
    background-image: url(../img/ratchet-and-clank-rift-apart-keyart.jpg);
}

.img_jumb {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100px;
    width: 100%;
    margin: 10px 0;
}

/* tag play5 */

#play5 {
    min-height: 700px;
    width: 100%;
}

#play5 .fs-6 {
    color: #0072ce;
}

#play5 .fw-bold, #play4 .fw-bold {
    color: #737373;
}

/* tag game */

#game {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
    min-height: 620px;
    color: white;
}

/* tag new game */

#new_game {
    background-color: #1f1f1f;
    color: white;
}

#new_game img {
    border-radius: 15%;
    padding: 20px 10px;
}

/* tag play4 */

#play4 {
    width: 100%;
}

/* tag plus */

#plus {
    background-color: #bebcbb;
    width: 100%;
}

#plus button {
    background-color: #d9dadc;
    color: #396de5;
}

/* tag store */

#store {
    min-height: 400px;
}

/* tag now */

#now {
    background-color: #161c3b;
    color: white;
}


/* tag social */

#social {
    background-color: tomato;
    min-height: 400px;
    width: 100%;
}

/* tag copyright */

#copyright {
    background-color: sienna;
    min-height: 400px;
    width: 100%;
}
