/* tag generali */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#nav_logo {
   border: 1px solid red;
    width: 100%;
    min-height: 100px;
}

#jumbo_sopra {
    background-color: green;
    width: 100%;
    min-height: 500px;
}

#jumbo_sotto {
    background-color: brown;
    min-height: 100px;
    width: 100%;
}

#play5 {
    background-color: chartreuse;
    min-height: 700px;
    width: 100%;
}
